/* line 8, ../sass/_var.sass */
.every_col, .table, #cvetable .risk, #cvetable .known, #cvetable .updated, #cvetable .cod, #cvetable .cve-more, #swtable .cve_critical, #swtable .cve_warning, #swtable .sw_name, #swtable .version, #swtable .details, #swtable .viewFullList, #swtable div, #swtable div article p, #swtable div article p + p {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 4, ../sass/table.sass */
.table {
  width: 82.7%;
  margin-bottom: 1em;
  margin: 2em 0;
  padding: 1em;
  padding-right: 0;
}
/* line 10, ../sass/table.sass */
.table h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 110%;
  color: #1d1f1f;
}
/* line 14, ../sass/table.sass */
.table article {
  height: 3.8em;
  margin: auto auto 0.5em auto;
  padding: 1.5em;
  padding-bottom: 0;
  margin: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 90%;
  color: #1d1f1f;
  text-align: center;
  display: block;
  overflow: hidden;
}
/* line 26, ../sass/table.sass */
.table article span {
  font-weight: normal;
  color: #1d1f1f;
}
/* line 29, ../sass/table.sass */
.table article.viewfull {
  height: auto;
}
/* line 31, ../sass/table.sass */
.table article.viewlight {
  background: #f3f3f3 !important;
}
/* line 33, ../sass/table.sass */
.table article:nth-of-type(even) {
  background: whitesmoke;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}
/* line 37, ../sass/table.sass */
.table article:nth-of-type(odd) {
  background: inherit;
}

/* line 39, ../sass/table.sass */
#cvetable {
  margin-bottom: 1em;
}
/* line 41, ../sass/table.sass */
#cvetable #leyend {
  height: 3em;
}
/* line 43, ../sass/table.sass */
#cvetable #leyend p span {
  text-align: center;
}
/* line 45, ../sass/table.sass */
#cvetable #leyend .risk {
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-left: -1em;
  margin-right: 3em;
}
/* line 52, ../sass/table.sass */
#cvetable .risk {
  width: 4.85%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  height: 2em;
  width: 2em;
  margin-top: -0.7em;
  padding: 0.5em 0 0 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}
/* line 63, ../sass/table.sass */
#cvetable .known {
  width: 13.45%;
}
/* line 65, ../sass/table.sass */
#cvetable .updated {
  width: 13.45%;
}
/* line 67, ../sass/table.sass */
#cvetable .cod {
  width: 13.45%;
  margin-right: 0px;
}
/* line 70, ../sass/table.sass */
#cvetable .cve-more {
  width: 65.4%;
  margin: 3em 0;
  text-align: justify;
}

/* line 74, ../sass/table.sass */
#swtable {
  margin-bottom: 1em;
  width: 100%;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 77, ../sass/table.sass */
#swtable .cve_critical {
  width: 4.85%;
}
/* line 79, ../sass/table.sass */
#swtable .cve_warning {
  width: 4.85%;
}
/* line 81, ../sass/table.sass */
#swtable .sw_name {
  width: 22.05%;
}
/* line 83, ../sass/table.sass */
#swtable .version {
  width: 13.45%;
}
/* line 85, ../sass/table.sass */
#swtable .details {
  width: 13.45%;
  margin-right: 0px;
  margin-top: -1em;
}
/* line 89, ../sass/table.sass */
#swtable .viewFullList {
  width: 13.45%;
  margin-left: 0;
  margin-top: 6em;
}
/* line 93, ../sass/table.sass */
#swtable div {
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0 1px 3px #333333;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 56.75%;
}
/* line 99, ../sass/table.sass */
#swtable div article {
  font-size: 80%;
  border: none;
  background: none;
  padding: 0.6em 0;
  height: 3.3em;
}
/* line 105, ../sass/table.sass */
#swtable div article p {
  width: 22.05%;
  padding: 1em;
}
/* line 108, ../sass/table.sass */
#swtable div article p span.risk {
  color: #434747;
  padding: 0.4em;
  width: 2em;
  height: 2em;
}
/* line 113, ../sass/table.sass */
#swtable div article p + p {
  width: 30.75%;
}
/* line 115, ../sass/table.sass */
#swtable div article p:last-child {
  margin-right: 0px;
}
/* line 117, ../sass/table.sass */
#swtable #leyend {
  height: 3em;
}
/* line 119, ../sass/table.sass */
#swtable #leyend p span {
  text-align: center;
}
/* line 121, ../sass/table.sass */
#swtable #leyend .risk {
  box-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-left: -1em;
  margin-right: 3em;
}
/* line 128, ../sass/table.sass */
#swtable #leyend .cod {
  margin-left: -1em;
}
/* line 130, ../sass/table.sass */
#swtable #leyend .sw_id {
  margin-left: -1.5em;
}

/* line 132, ../sass/table.sass */
.red {
  background-color: #ee432e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear, top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%;
  font-weight: bold !important;
  color: white !important;
  border: 1px solid #951100;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  height: 2em;
  width: 2em;
  padding: 0.5em 0 0 0.5em;
  text-align: center;
}

/* line 150, ../sass/table.sass */
.yellow {
  background-color: #fc9200;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff65), color-stop(50%, #d8d826), color-stop(50%, #f89406), color-stop(100%, #fc9200));
  background-image: -webkit-linear-gradient(top, #ffff65 0%, #d8d826 50%, #f89406 50%, #fc9200 100%);
  background-image: -moz-linear-gradient(top, #ffff65 0%, #d8d826 50%, #f89406 50%, #fc9200 100%);
  background-image: -ms-linear-gradient(top, #ffff65 0%, #d8d826 50%, #f89406 50%, #fc9200 100%);
  background-image: -o-linear-gradient(top, #ffff65 0%, #d8d826 50%, #f89406 50%, #fc9200 100%);
  background-image: linear, top, #ffff65 0%, #d8d826 50%, #f89406 50%, #fc9200 100%;
  border: 1px solid #a07426;
  color: white;
  font-weight: bold !important;
  color: white !important;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  height: 2em;
  width: 2em;
  padding: 0.5em 0 0 0.5em;
  text-align: center;
}

/* line 169, ../sass/table.sass */
.green {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(50%, #76b347), color-stop(50%, #5e9e2e), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347 0%, #76b347 50%, #5e9e2e 50%, #5e9e2e 100%);
  background-image: -moz-linear-gradient(top, #76b347 0%, #76b347 50%, #5e9e2e 50%, #5e9e2e 100%);
  background-image: -ms-linear-gradient(top, #76b347 0%, #76b347 50%, #5e9e2e 50%, #5e9e2e 100%);
  background-image: -o-linear-gradient(top, #76b347 0%, #76b347 50%, #5e9e2e 50%, #5e9e2e 100%);
  background-image: linear, top, #76b347 0%, #76b347 50%, #5e9e2e 50%, #5e9e2e 100%;
  border: 1px solid #00910d;
  color: white;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
}

/* line 180, ../sass/table.sass */
button {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(to bottom,#eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}
/* line 14, ../sass/_buttons.scss */
button:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(to bottom,#dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
/* line 22, ../sass/_buttons.scss */
button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
